<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :first_name %><br />
    <%= form.text_field :first_name %>
  </div>

  <div class="input-field">
    <%= form.label :last_name %><br />
    <%= form.text_field :last_name %>
  </div>

  <div class="input-field">
    <%= form.label :ssn %><br />
    <%= form.text_field :ssn %>
  </div>

  <div class="input-field">
    <%= form.label :date_of_birth %><br />
    <%= form.date_select :date_of_birth , :order => [:year, :month, :day], :start_year => 1980, :end_year => Time.now.year - 18 %>
    
  </div>

  <div class="input-field">
    <%= form.label :phone %><br />
    <%= form.text_field :phone %>
  </div>

  <div class="input-field">
    <%= form.label :role %><br />
    <%= form.text_field :role %>
  </div>

  <div class="input-field">
    <%= form.label :active %><br />
    <%= form.select :active, ([['True', true], ['False', false]]) %>
  </div>
  
  <%= form.fields_for :user do |field|%>
    <div class="input-field">
      <%= field.label "Email" %><br/>
      <%= field.text_field :email %>
    </div>
    
    <div class="input-field">
      <%= field.label "Password" %><br/>
      <%= field.password_field :password %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit :class=> "waves-effect waves-light btn light-blue" %>
  </div>
<% end %>
