<div class="grey lighten-4" id="form">
<p id="notice"><%= notice %></p>
<% if (!@active_employees.nil?) then %>



<h1>Active Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>SSN</th>
      <th>Birth Date</th>
      <th>Role</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% 
    @active_employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.ssn %></td>
        <td><%= employee.date_of_birth %></td>
        <td><%= employee.role %></td>
        <td><%= employee.active %></td>
        <td><%= link_to 'Show', employee, :class=> "waves-effect waves-light btn light-blue" %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee), :class=> "waves-effect waves-light btn green" %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "waves-effect waves-light btn red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>
<% if (!@inactive_employees.nil?) then %>

<h1>Inactive Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>SSN</th>
      <th>Birth Date</th>
      <th>Role</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% 
    @inactive_employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.ssn %></td>
        <td><%= employee.date_of_birth %></td>
        <td><%= employee.role %></td>
        <td><%= employee.active %></td>
        <td><%= link_to 'Show', employee, :class=> "waves-effect waves-light btn light-blue" %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee), :class=> "waves-effect waves-light btn green" %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "waves-effect waves-light btn red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>

<br />
<%= link_to 'New Employee', new_employee_path, :class=> "waves-effect waves-light btn orange" %>

</div>
