<div class="grey lighten-4" id="form">
<h2> <%= @employee.proper_name %> Information</h2>
<p id="notice"><%= notice %></p>

<p><b>First Name:</b>
<%= @employee.first_name %></p>

<p><b>Last Name:</b>
<%= @employee.last_name %></p>

<p><b>SSN:</b>
<%= @employee.ssn %></p>

<p><b>Date of Birth:</b>
<%= @employee.date_of_birth %></p>

<p><b>Phone:</b>
<%= @employee.phone %></p>

<p><b>Role:</b>
<%= @employee.role %></p>

<p><b>Active:</b>
<%= @employee.active %></p>

<br/>

<%= link_to 'Edit', edit_employee_path(@employee), :class=> "waves-effect waves-light btn light-blue" %>
<%= link_to 'Delete', @employee, method: :delete, :class=> "waves-effect waves-light btn red" %>
<%= link_to 'Return', employees_path, :class=> "waves-effect waves-light btn green" %>

</div>