<%= form_with(model: assignment, local: true) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :store_id %><br/>
    <%= form.collection_select :store_id, Store.alphabetical, :id, :name, :prompt => "Select ..." %>
  </div>

  <div class="input-field">
    <%= form.label :employee_id %><br/>
    <%= form.collection_select :employee_id, Employee.alphabetical, :id, :first_name, :prompt => "Select ..." %>
  </div>

  <div class="input-field">
    <%= form.label :start_date %><br/>
    <%= form.date_select :start_date %>
  </div>

  <div class="input-field">
    <%= form.label :end_date %><br/>
    <%= form.date_select :end_date, {:include_blank => true, :default => nil} %>
  </div>

  <div class="input-field">
    <%= form.label :pay_level %><br/>
    <%= form.select :pay_level, ([['6', 6], ['5', 5], ['4', 4],
        ['3', 3], ['2', 2], ['1', 1]]) %>
  </div>

  <div class="actions">
    <%= form.submit :class=> "waves-effect waves-light btn light-blue" %>
  </div>
<% end %>
