<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="input-field">
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </div>

  <div class="input-field">
    <%= form.label :street %><br />
    <%= form.text_field :street %>
  </div>

  <div class="input-field">
    <%= form.label :city %><br />
    <%= form.text_field :city %>
  </div>

  <div class="input-field">
    <%= form.label :state %><br />
    <%= form.select :state, ([['PA', 'PA'], ['OH', 'OH'], ['WV', 'WV']]) %>
  </div>

  <div class="input-field">
    <%= form.label :zip %><br />
    <%= form.text_field :zip %>
  </div>

  <div class="input-field">
    <%= form.label :phone %><br />
    <%= form.text_field :phone %>
  </div>

  <div class="input-field">
    <%= form.label :active %><br />
    <%= form.select :active, ([['True', true], ['False', false]]) %>
  </div>

  <br/>

  <div class="actions">
    <%= form.submit :class=> "waves-effect waves-light btn light-blue" %>
  </div>
    
<% end %>
