<div class="grey lighten-4" id="form">
<h2> <%= @store.name %> Store Information </h2>
<p id="notice"><%= notice %></p>

<p><b>Store Name:</b>
<%= @store.name %></p>

<p></p><b>Street:</b>
<%= @store.name %></p>

<p><b>City:</b>
<%= @store.city %></p>

<p><b>State:</b>
<%= @store.state %></p>

<p><b>ZIP:</b>
<%= @store.zip %></p>

<p><b>Phone:</b>
<%= @store.phone %></p>

<p><b>Status:</b>
<%= @store.active %></p>

<br/>

<%= link_to 'Edit', edit_store_path(@store), :class=> "waves-effect waves-light btn light-blue" %>
<%= link_to 'Delete', @store, method: :delete, :class=> "waves-effect waves-light btn red" %>
<%= link_to 'Return', stores_path, :class=> "waves-effect waves-light btn green" %>
</div>
  


