<div class="grey lighten-4" id="form">
<h2> Job Information</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @job.active %>
</p>

<br/>
<%= link_to 'Edit', edit_job_path(@job), :class=> "waves-effect waves-light btn light-blue" %>
<%= link_to 'Delete', @assignment, method: :delete, :class=> "waves-effect waves-light btn red" %>
<%= link_to 'Back', jobs_path, :class=> "waves-effect waves-light btn green" %>
</div>
