<p id="notice"><%= notice %></p>

<h1>Storeflavors</h1>

<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>Flavor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @storeflavors.each do |storeflavor| %>
      <tr>
        <td><%= storeflavor.store_id %></td>
        <td><%= storeflavor.flavor_id %></td>
        <td><%= link_to 'Show', storeflavor %></td>
        <td><%= link_to 'Edit', edit_storeflavor_path(storeflavor) %></td>
        <td><%= link_to 'Destroy', storeflavor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Storeflavor', new_storeflavor_path %>
