<div class="grey lighten-4" id="form">
<h2>Welcome To A &amp; M Creamery</h2>
<br />
<div class="row">
	<div class="small-7 columns">
		<p>
			A &amp; M Creamery is one of the smallest, but absolutely best, chain of 
			ice cream shops we know in the Greater Pittsburgh area.
			You should come to one of our stores and buy lots of our ice cream now.  
			Our ice cream is delicious, nutritious and amazing in every way.  
			Why are you still reading this?  You should be down here buying ice 
			cream right now.  Stop reading and get your backside moving to an 
			A &amp; M Creamery store now.  
			(Still reading? What are you waiting for?)
		</p>
	</div>
	<div class="small-1 columns">
		&nbsp;
	</div>
	<div class="small-4 columns">
		&nbsp;
	</div>
</div>

<div class="row">
    
    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="https://image.flaticon.com/icons/svg/1604/1604715.svg">
          </div>
          <div class="card-action">
            <%= link_to 'Employees', employees_path, :class=> "waves-effect waves-light btn light-blue" %>
          </div>
        </div>
      </div>
      
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="https://image.flaticon.com/icons/svg/1378/1378701.svg">
          </div>
          <div class="card-action">
            <%= link_to 'Stores', stores_path, :class=> "waves-effect waves-light btn red" %>
          </div>
        </div>
      </div>
      
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="https://image.flaticon.com/icons/svg/1595/1595203.svg">
          </div>
          <div class="card-action">
            <%= link_to 'Assignments', assignments_path, :class=> "waves-effect waves-light btn green" %>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
    
    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="https://image.flaticon.com/icons/svg/938/938063.svg">
          </div>
          <div class="card-action">
            <%= link_to 'Flavors', flavors_path, :class=> "waves-effect waves-light btn light-blue" %>
          </div>
        </div>
      </div>
      
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="https://image.flaticon.com/icons/svg/1724/1724954.svg">
          </div>
          <div class="card-action">
            <%= link_to 'Shifts', shifts_path, :class=> "waves-effect waves-light btn red" %>
          </div>
        </div>
      </div>
      
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="https://image.flaticon.com/icons/svg/1256/1256663.svg">
          </div>
          <div class="card-action">
            <%= link_to 'Jobs', jobs_path, :class=> "waves-effect waves-light btn green" %>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>

</div>


</div>


