<%= form_with(model: shift, local: true) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :assignment_id %><br/>
    <%= form.collection_select :assignment_id, Assignment.chronological, :id, :id, :prompt => "Select ..." %>
  </div>

  <div class="input-field">
    <%= form.label :date %><br/>
    <%= form.date_select :date %>
  </div>

  <div class="input-field">
    <%= form.label :start_time %><br/>
    <%= form.time_select :start_time %>
  </div>

  <div class="input-field">
    <%= form.label :end_time %><br/>
    <%= form.time_select :end_time %>
  </div>

  <div class="input-field">
    <%= form.label :notes %><br/>
    <%= form.text_area :notes %>
  </div>

  <br/>
  <div class="actions">
    <%= form.submit :class=> "waves-effect waves-light btn light-blue"%>
  </div>
<% end %>
