<!DOCTYPE html>
<html>
  <head>
    <title>Phase4starter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "vendor/modernizr" %>
  </head>

  <body background="https://static.vecteezy.com/system/resources/previews/000/136/901/non_2x/free-minimalist-ice-cream-vector.png">
  
  <nav>
    
    <div class="row">
    
    <div class="col s2">
    </div>
    
    <div class="col s8 center">
      <div class="nav-wrapper">
        &nbsp&nbsp
        <a href="/" class="left"><b>A&M Creamery</b></a>
    
        <ul class="right">
          <li><%= link_to "Assignments", assignments_path %></li> 
          <li><%= link_to "Employees", employees_path %></li>
          <li><%= link_to "Stores", stores_path %></li>
        </ul>
    
      </div>
    </div>
    
    <div class="col s2">
    </div>
    
    </div>
    
    
  </nav>
  
  
  
  <div class="row">
    
    <div class="col s2">
    </div>
    
    <div class="col s8 center">
      <!--    MAIN CONTENT GOES HERE -->
      <%= yield %>
      <% flash.each do |message_type, message| %>
        <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
      <% end %>
    </div>
    
    <div class="col s2">
    </div>
    
  </div>
  
  
  
  </body>
  
  <%= render partial: 'partials/footer' %>
</html>
